<html>
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <p class="desc">We have two obsessions: coffee and food. We are passionate about sharing both with you, which is why we created Nadia Cafe. Here is a place to eat, drink, meet friends, and enjoy an atmosphere away from the hassles of everyday life.</p>
    </body>
    <%- include('./partials/footer.ejs') %>

</html>